body {
    overflow-x: hidden;
    font-family: 'Anuphan', sans-serif;
    font-family: 'Inter', sans-serif;
    margin: 5px;
}

button:hover{
    cursor: pointer;
}


h1 {
    text-align: center;
    padding: 0;
    margin: 0;
}


.book-card {
    border:2px solid black;
    width: 50%;
    text-align: center;
}

#bookList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.book-info {
    width: calc(33.33% - 20px); 
    margin: 10px;
    text-align: center;
    background-color: #f0f0f02e;
}
  
#cover {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.hidden {
    display: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; 
    background-color: #f0f0f0; 
}

.header-buttons {
    display: flex;
    gap: 10px; 
    height: 40px;
}

#profileBtn {
    background: rgba( 74, 144, 226, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#logout {
    height: 30px;
    background: rgba( 245, 166, 35, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );   
}

#registerSpanText {
    text-decoration: underline;
    color:orange;
}
#registerSpanText:hover{
    cursor: pointer;
}


#wrapper {
    position: relative;
    z-index: -5;
    height: 30px;
}

#sw-js-blob-svg {
    height: 550px;
    width: 1500px;
    margin-top: -350px;
}


@media screen and (max-width: 600px){
    #sw-js-blob-svg {
        display: none;
    }

    #bookList {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .book-info {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-left: -20px;

    }
}

body.dark {
    background:  #1F1B24;
    color:white;
}

.header.dark {
    background-color: black;
}

#yourReadListBtn {
    background: none;
    border: none;
}


#yourReadListBtn:hover {
    text-decoration: underline;
}

#yourRatingBtn {
    background: none;
    border: none;
}

#yourRatingBtn:hover {
    text-decoration: underline;
}

#addToReadListBtn {
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 2px;
    height: 25px;
    background-color: antiquewhite;
}

#submitRatingBtn {
    background-color: rgba(173, 216, 230, 0.305);
    border: 1px solid black;

}

#yourReadListBtn.active {
    height: 30px;
    text-decoration: underline;
    text-decoration-color: orange;
    font-size: 20px;
}
#yourRatingBtn.active {
    height: 30px;
    text-decoration: underline;
    text-decoration-color: orange;
    font-size: 20px;
}

#mainPageBtn {
    height: 30px;
    margin-bottom: 10px;
}

#userpage-readlist li {
    list-style: none;
}